body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Source Code Pro', monospace; */


}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar {
  background-color: #2e2e2e !important;
}

.navbar li:hover {
  font-weight: 900;
  border-bottom: 1px solid yellow;
}



.sec-style {
  color: white;

  height: auto;
  width: 100%;
  /* border-bottom: 2px solid rgba(68, 68, 68,0.4) ; */



}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


#img-container {
  height: 100px;
  width: 100px;
  margin-bottom: 2%;

}

#img-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#title {
  text-align: center;
}

#icons ul {
  list-style: none;


}

#icons ul li {
  display: inline;
  font-size: 30px;
  padding: 0px 20px;

}

#icons ul li a {
  color: white;
}

#icons ul li a:hover {
  color: rgba(255, 188, 7, 0.8);
}


/* education */
#education {
  min-height: 100vh;
  font-weight: bolder !important;
  padding-top: 100px;
}

#education .card {
  background-color: rgba(255, 188, 7, 0.8);
}

#skills {
  padding-top: 100px;
}

#skills .container {
  padding-bottom: 5%;
  padding-top: 1%;
}

#experience {
  padding-top: 100px;
}

#experience .card {
  background-color: transparent;
  color: yellow
}

#projects {
  height: auto;
  padding-top: 100px;
}

#projects .card {
  background-color: transparent;
}

#contact {
  min-height: 100vh;
  padding-top: 100px;
}

#contact-details ul {
  list-style: none;
  font-size: 20px;


}

#contact-details ul li {

  padding: 20px;
}

#contact-details ul li i {
  font-size: 30px;
  margin-right: 10px;
}


/* cartoon */

.hair {
  position: relative;

  height: 230px;
  width: 280px;
  border-radius: 45%;
  margin: 0 auto;

  background-color: #FFBC07;

}



.head {

  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 250px;
  border-radius: 45%;
  border: 2px solid black;
  background-color: #f1d4c7;
  overflow: hidden;

}

.eyes {
  position: absolute;
  height: 115px;
  width: 100px;
  border: 3px solid black;
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}



#eye1 {
  top: 30px;
  left: -5px;
  border-left: transparent;
  border-top: transparent;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 40%;


}

#eye2 {
  top: 30px;
  left: 150px;
  border-right: transparent;
  border-top: transparent;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 40%;

}

.iris {
  position: absolute;
  height: 100px;
  width: 80px;
  border-radius: 50%;
  left: 20px;
  background-color: #FFBC07;
  border: 3px solid black;
  box-sizing: border-box;
  overflow: hidden;
}

.pupil {
  position: absolute;
  /*border: px solid black;*/
  height: 80px;
  width: 60px;
  border-top: transparent;
  border-right: transparent;
  border-radius: 50%;
  border-bottom-right-radius: 45%;
  box-sizing: border-box;

  left: 22px;
  background-color: black;
}

.white {
  height: 40px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  transform: rotate(-10deg);
  top: 10px;
  background-color: white;
}

#iris2 {
  left: -1px;
  /*transform: rotate(15deg);*/
}

#pupil2 {
  left: -3px;
}

#white2 {
  left: 15px;
}

.eyelid {
  position: absolute;
  height: 0px;
  width: 100%;
  background-color: #f1d4c7;
  z-index: 2;
  animation: blink 2s linear infinite;

}

@keyframes blink {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 0%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}



.mouth {
  position: absolute;
  height: 60px;
  width: 25px;
  border: 5px solid black;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.bangs {
  position: absolute;
  top: 5px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  height: 60px;
  width: 218px;
  left: 30px;
  background-color: #FFBC07;
}

.hair-part {
  position: absolute;
  top: 25px;
  left: 120px;
  border-bottom: 40px solid #f1d4c7;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  height: 0px;
  width: 0px;

}

.side-hair {
  height: 0px;
  width: 0px;

  border-bottom: 70px solid #FFBC07;
  border-right: 40px solid transparent;
  border-left: 40px solid transparent;
  border-radius: 50%;
  transform: rotate(15deg);
  position: absolute;
  top: 110px;
  left: -50px;
}

#sidehair2 {
  left: 250px;
  transform: rotate(340deg);
}